.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    padding: 0 185px;
    list-style: none;
}

.gallery-item {
    width: 100%;
}

.gallery-link {
    display: block;
}

.gallery-image {
    width: 100%;
    height: auto;
}

.gallery-image:hover {
    transform: scale(1.05);
    position: relative;
    z-index: 1;
}